.header, .hero, .footer {
    background-color: #1f2937;
}
.description h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.description p, .header ul{
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}

button, .stuff {
    background-color: #3882f6;
}
.info h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.quote-section {
    background-color: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
img {
    height: 80px;
    width: 80px;
}